spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop   # 테스트마다 DB 새로 생성/삭제
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  jwt:
    secret-key: abcdefghijklmnopqrstuvwxyz0123456789
    access-token-validity-seconds: 100000000
    refresh-token-validity-seconds: 1000000000